    /*  "*" = select all selector */
    * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }

    body {
    color: #f105ca;
    display: flex;
    font-family: sans-serif;
    justify-content: center;
    }

    .container {
    /* background-color: rgb(240, 140, 103); */
    background-color: #05dada;

    margin: 50px;
    padding: 50px;
    border-radius: 25px;
    /* box-shadow: -1em 0 .4em  rgba(0, 0, 255, .2); */
    box-shadow: -1em 0 0.4em #f105ca;
    }

    .title {
    text-align: center;
    }

    .title span {
    color: #fff;
    text-shadow: 0 0 7px #ff00dd, 0 0 10px #ff00dd, 0 0 21px #ff00dd,
        0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
    }

    .status-action {
    display: flex;
    margin-top: 25px;
    font-size: 25px;
    justify-content: space-around;
    height: 30px;
    }

    .status span {
    color: #f2ebd3;
    }

    .reset {
    color: #f105ca;
    cursor: pointer;
    }

    .reset:hover {
    color: rgb(186, 0, 192);
    }
    .status {
    color: #f105ca;
    }

    .game-grid {
    background-color: rgb(159, 250, 250);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
    margin-top: 50px;
    }

    .game-cell {
    background-color: #05dada;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 200px;
    height: 200px;
    }

    /* x or o */
    .x,
    .o {
    cursor: default;
    }

    .x::after {
    content: "🞫";
    font-size: 200px;
    color: #ffffff;
    text-shadow: 5px 5px #0084ff;
    }

    .o::after {
    content: "◯";
    font-size: 140px;
    color: rgb(240, 55, 169);
    text-shadow: 5px 5px #ffffff;
    }

    .won::after {
    /* color: #BD022F; */
    text-shadow: 0 0 7px #ff00dd, 0 0 10px #ff00dd, 0 0 21px #ff00dd,
        0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
    }

    @media only screen and (max-width: 1024px) {
    .game-grid {
        margin-top: 25px;
        grid-gap: 10px;
    }

    .game-cell {
        height: 150px;
        width: 150px;
    }

    .x::after {
        font-size: 150px;
    }

    .o::after {
        font-size: 110px;
    }
    }

    @media only screen and (max-width: 540px) {
    .container {
        margin: 25px;
        padding: 25px;
    }

    .game-cell {
        height: 100px;
        width: 100px;
    }

    .x::after {
        font-size: 100px;
    }

    .o::after {
        font-size: 90px;
    }
    }
